/**
 * Add your custom styles here
 *
 * @format
 */

#holiday_details label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
#holiday_details input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
#holiday_details .date-field {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
#holiday_details .button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #0073aa;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
#holiday_details .button.remove {
  background-color: #dc3232;
}
#holiday_details .button:hover {
  background-color: #005177;
}
#holiday_details .button.remove:hover {
  background-color: #a00;
}
#holiday_dates_container .date-field {
  margin-bottom: 20px;
}
#holiday_dates_container {
  margin-bottom: 20px;
}
.no-holidays {
  color: #dc3232;
  font-weight: bold;
}
